# ==============================
# RUNTIME & BUILD OUTPUTS
# ==============================
bin/
obj/
TestResults/
*.log
*idea*
/.idea/
/.idea/
/.idea/.idea.csharp-systems-engineering/
/.idea/.idea.csharp-systems-engineering/.idea/
# ==============================
# IDE & LOCAL WORKSPACE FILES
# ==============================
# JetBrains Rider / ReSharper
.idea/
riderModule.iml
_ReSharper.Caches/
/packages/
*.rsuser

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# ==============================
# OS SPECIFIC
# ==============================
.DS_Store
Thumbs.db

# ==============================
# LOCAL SECRETS & CONFIG
# ==============================
*.env
# appsettings.Development.json # (Uncomment if you add database passwords here later)


# ==============================
# DATABASES
# ==============================
*.db
*.db-shm
*.db-wal